<%- include("../../fragments/header.ejs") %>
<main>
    <h2>Lista płyt</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Artysta</th>
            <th>Cena za dzień</th>
            <th>Ilość dostępnych</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <% for (let record of records) { %>
            <tr>
                <td><%= record.recordName %></td>
                <td><%= record.artistName %></td>
                <td><%= record.price %></td>
                <td><%= record.unit %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/records/details/<%= record._id %>" class="list-actions-button-details">Szczegóły</a></li>
                        <li><a href="/records/edit/<%= record._id %>" class="list-actions-button-edit">Edytuj</a></li>
                        <li><a onclick="return showPopup(<%= record._id %>)" class="list-actions-button-delete">Usuń</a></li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <a href="/records/add" class="button-add">Dodaj nową płytę</a>
</main>
<%- include("../../fragments/footer.ejs") %>