<%- include("../../fragments/header.ejs") %>
<main>
    <script type="application/javascript" src="/js/validationRentalForm.js"></script>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm();">
        <label for="client_id">Klient: <span class="symbol-required">*</span></label>
        <select name="client_id" id="client" <%= (formMode === "showDetails") ? "disabled" : "" %>
                class ="<%= validationErrors.find(e => e.path.includes("client_id")) ? "error-input" : "" %>"
                required>
            <option value selected>Wybierz klienta</option>
            <% for (let i = 0; i < allClients.length; i++) { let client = allClients[i] %>
            <option value="<%= client._id %>" label="<%= client.firstName + " " + client.lastName %>"
                <%= ((validationErrors.length !== 0 || rental.client) &&
                        rental.client_id.toString() === client._id.toString()) ? "selected" : "" %>>
            </option>
            <% } %>
        </select>
        <span id="errorClient" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes("client_id"))) { %>
                <%= validationErrors.find(e => e.path.includes("client_id")).message %>
            <% } %>
        </span>

        <label for="record_id">Płyta: <span class="symbol-required">*</span></label>
        <select name="record_id" id="record" <%= (formMode === "showDetails") ? "disabled" : "" %>
                class ="<%= validationErrors.find(e => e.path.includes("record_id")) ? "error-input" : "" %>"
                required>
            <option value selected>Wybierz płytę</option>
            <% for (let i = 0; i < allRecords.length; i++) { let record = allRecords[i] %>
            <option value="<%= record._id %>" label="<%= record.recordName + " " + record.artistName %>"
                    <%= ((validationErrors.length !== 0 || rental.record) &&
                            rental.record_id.toString() === record._id.toString()) ? "selected" : "" %>>
            </option>
            <% } %>
        </select>
        <span id="errorRecord" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes("record_id"))) { %>
                <%= validationErrors.find(e => e.path.includes("record_id")).message %>
            <% } %>
        </span>

        <label for="startDate">Data od: <span class="symbol-required">*</span></label>
        <input type="date" name="startDate" id="startDate"
               value="<%= (rental.startDate && validationErrors.length === 0) ?
                       rental.startDate.toISOString().split("T")[0] : rental.startDate %>"
               <%= (formMode === "showDetails") ? "disabled" : "" %>
               class ="<%= validationErrors.find(e => e.path.includes("startDate")) ? "error-input" : "" %>"
               required />
        <span id="errorStartDate" class="errors-text" >
            <% if (validationErrors.find(e => e.path.includes("startDate"))) { %>
                <%= validationErrors.find(e => e.path.includes("startDate")).message %>
            <% } %>
        </span>

        <% if (formMode !== "createNew") { %>
        <label for="endDate">Data do:</label>
        <input type="date" name="endDate" id="endDate"
               value="<%= (rental.endDate && validationErrors.length === 0) ?
                       rental.endDate.toISOString().split("T")[0] : rental.endDate %>"
               <%= (formMode === "showDetails") ? "disabled" : "" %>
               class ="<%= validationErrors.find(e => e.path.includes("endDate")) ? "error-input" : "" %>"/>
        <span id="errorEndDate" class="errors-text" >
            <% if (validationErrors.find(e => e.path.includes("endDate"))) { %>
                <%= validationErrors.find(e => e.path.includes("endDate")).message %>
            <% } %>
        </span>
        <% } %>

        <input type="hidden" name="_id" value="<%= rental._id %>">

        <% if (formMode === "showDetails") { %>
            <label for="price">Cena za dzień: <span class="symbol-required">*</span></label>
            <input type="number" min="0.00" name="price" id="price"
                   value="<%= rental.record.price %>" disabled required />
            <span id="errorPrice" class="errors-text"></span>

            <label for="email">Email klienta: <span class="symbol-required">*</span></label>
            <input type="email" name="email" id="email"
                   value="<%= rental.client.email %>" disabled required />
            <span id="errorEmail" class="errors-text"></span>

            <label>Czy klient wypłacalny: <span class="symbol-required">*</span></label>
            <label for="solvencyTrue">Tak</label>
            <input type="radio" id="solvencyTrue" name="solvency" value="true" disabled
                    <%= rental.client.solvency ? "checked" : "" %>/>
            <label for="solvencyFalse">Nie</label>
            <input type="radio" id="solvencyFalse" name="solvency" value="false" disabled
                    <%= rental.client.solvency ? "" : "checked" %>/>
        <% } %>

    <% if (formMode !== "showDetails") { %>
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text">
                    <% if (validationErrors.length !== 0) { %>
                        Formularz zawiera błedy
                    <% } %>
                </p>
                <input type="submit" value="<%= btnLabel %>" class="<%= btnClass %>" />
                <a href="/<%= navLocation %>" class="form-button-cancel">Anuluj</a>
            </div>
        <% } %>
    </form>
    <% if (formMode === "showDetails") { %>
        <a href="/<%= navLocation %>/edit/<%= rental._id %>" class="button-edit">Edytuj</a>
        <a href="/<%= navLocation %>" class="button-back">Powrót</a>
    <% } %>
</main>
<%- include("../../fragments/footer.ejs") %>