<%- include("../../fragments/header.ejs") %>
<main>
    <h2>Lista wynajmów</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Klient</th>
            <th>Płyta</th>
            <th>Data od</th>
            <th>Data do</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <% for (let rental of rentals) { %>
            <tr>
                <td><%= rental.client.firstName + " " + rental.client.lastName %></td>
                <td><%= rental.record.recordName + " - " + rental.record.artistName %></td>

                <td><%= rental.startDate.toISOString().split("T")[0] %></td>
                <td><%= rental.endDate ? rental.endDate.toISOString().split("T")[0] : "" %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/rentals/details/<%= rental._id %>" class="list-actions-button-details">Szczegóły</a></li>
                        <li><a href="/rentals/edit/<%= rental._id %>" class="list-actions-button-edit">Edytuj</a></li>
                        <li><a onclick="return showPopup(<%= rental._id %>)" class="list-actions-button-delete">Usuń</a></li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <a href="/rentals/add" class="button-add">Dodaj nowy wynajem</a>
</main>
<%- include("../../fragments/footer.ejs") %>