<%- include("../../fragments/header.ejs") %>
<div id="confirm-popup-delete">
    <p>Czy na pewno chcesz usunąć klienta?</p>
    <a href="#popup-delete" class="confirm-popup-yes-button">Tak</a>
    <a href="/clients" class="confirm-popup-cancel-button">Anuluj</a>
</div>
<div id="popup-delete" class="popup">Klient został usunięty</div>
<main>
    <h2>Lista klientów</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>E-mail</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <% for (let client of clients) { %>
            <tr>
                <td><%= client.firstName %></td>
                <td><%= client.lastName %></td>
                <td><%= client.email %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/clients/details/<%= client._id %>" class="list-actions-button-details">Szczegóły</a></li>
                        <li><a href="/clients/edit/<%= client._id %>" class="list-actions-button-edit">Edytuj</a></li>
                        <li><a href="#confirm-popup-delete" class="list-actions-button-delete">Usuń</a></li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <a href="/clients/add" class="button-add">Dodaj nowego klienta</a>
</main>
<%- include("../../fragments/footer.ejs") %>