<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Rental</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<script>
    function showPopup(deleteId) {
        document.getElementById("confirm-popup-delete").style.display = "block";
        let hrefVar = "/<%= navLocation %>/delete/" + deleteId.toString();
        document.getElementById("confirm-popup-yes-button").setAttribute("href", hrefVar);
    }
</script>
<% let name, inflexion %>
<% navLocation === "clients" ? name = "Klient" :
        navLocation === "records" ? name = "Płyta" :
                navLocation === "rentals" ? name = "Wynajem" :
                        name = "" %>
<% navLocation === "records" ? inflexion = "a" : inflexion = "y" %>
<div id="popup-add" class="popup"><%= name %> dodan<%= inflexion %></div>
<div id="popup-edit" class="popup"><%= name %> edytowan<%= inflexion %></div>
<div id="popup-delete" class="popup"><%= name %> usunięt<%= inflexion %></div>
<div id="confirm-popup-delete">
    <p>Czy na pewno chcesz usunąć?</p>
    <a href="#" class="confirm-popup-yes-button" id="confirm-popup-yes-button">Tak</a>
    <a href="/<%= navLocation %>" class="confirm-popup-cancel-button">Anuluj</a>
</div>
<header>
    <h1>Record Rental</h1>
    <img src="/images/logo.png" alt="logo">
</header>
<nav>
    <ul>
        <li><a href="/" class="<%= navLocation === 'main' ? 'active' : '' %>">Strona główna</a></li>
        <li><a href="/clients" class="<%= navLocation === 'clients' ? 'active' : '' %>">Klienci</a></li>
        <li><a href="/records" class="<%= navLocation === 'records' ? 'active' : '' %>">Płyty</a></li>
        <li><a href="/rentals" class="<%= navLocation === 'rentals' ? 'active' : '' %>">Wynajmy</a></li>
    </ul>
</nav>